<div class="container">  
<h5><span class="bg-light text-dark">ジャンル編集</span></h5>
  <% if @genre.errors.any? %>
　<div id="error_explanation">
  <ul>
    <% @genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  </div>

<%= form_with model: @genre,url:admin_genre_path(@genre.id) do |f| %>
  <label class = "font-weight-bold">ジャンル名</label>
  <%=f.text_field:name,autofocus:true,id:"inputName",placeholder:"ジャンル名" %>
  <%= f.submit '変更を保存',class:"btn btn-success" %>
<% end %>
</div>